﻿@*List of RoundGroupVMs*@
@model IEnumerable<NotenWeb.ViewModels.RoundGroupVM>

@using NotenWeb.ViewModels
@using NotenWeb.Models


@{
    ViewData["Title"] = "Runden";
}

<h2>Runden</h2>
<p>Die Rundenbearbeitung wird in der WebApp nicht unterstützt.</p>

@*TABLE*@
@foreach (RoundGroupVM rgvm in Model)
{
    @*one RoundGroup*@

    <h3>@Html.DisplayFor(Model => rgvm.RoundGroupLabel)</h3>

    @foreach (RoundVM rvm in rgvm.ContainedRoundVMs)
    {
        @*one Round*@
        <h4>@Html.DisplayFor(Model => rvm.RoundModel.Label)</h4>


        @*Table with Inventory Number & SheetName*@

        <table class="table" id="roundtable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(Model => rvm.ContainedSheets[0].InventoryNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(Model => rvm.ContainedSheets[0].Title)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (Sheet s in rvm.ContainedSheets)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => s.InventoryNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => s.Title)
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    }

}