﻿@{
    ViewData["Title"] = "Fehler";
}


<div class="limiter">
    <div class="container-login100">
        <h2>Hoppla, Seite funktioniert gerade nicht</h2>
        <p>Es ist ein Datenbank-Fehler aufgetreten. Versuchen Sie es später erneut oder kontaktieren Sie den Administrator.</p>
    </div>
</div>


