﻿@{
    ViewData["Title"] = "Login";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
            <form class="login100-form" asp-action="DoLoginAsync">
                <span class="login100-form-title p-b-33">
                    Anmeldung
                </span>

                <div class="wrap-input100">
                    <input class="input100" type="text" name="username" placeholder="Benutzername">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="wrap-input100 rs1">
                    <input class="input100" type="password" name="pass" placeholder="Passwort">
                    <span class="focus-input100-1"></span>
                    <span class="focus-input100-2"></span>
                </div>

                <div class="container-login100-form-btn m-t-20">
                    <input type="submit" value="Anmelden" class="login100-form-btn" />
                </div>

            </form>
        </div>
    </div>
</div>