﻿@model NotenWeb.ViewModels.SheetVM

@{
    ViewData["Title"] = "Löschen";
}

<h2>Stücke - Löschen</h2>

<h3>Bist du sicher, dass du dieses Stück löschen willst?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrchestraName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrchestraName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.InventoryNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.InventoryNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Title)
        </dd>
        @*Composer is not used, Arrangeur as combi-field for Arrangeur / Composer*@
        @*<dt>
            @Html.DisplayNameFor(model => model.SheetModel.Composer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Composer)
        </dd>*@
        @*Composer is not used, Arrangeur as combi-field for Arrangeur / Composer*@
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.Arrangeur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Arrangeur)
        </dd>
    </dl>


    <form asp-action="Delete">
        <div class="form-actions no-color delete-button">
            <input type="submit" value="Löschen" class="btn btn-default" />
        </div>
    </form>

    <div class="back-to-list">
        <a asp-action="IndexSheets">Zurück zur Liste</a>
    </div>
 
</div>
