﻿@model NotenWeb.ViewModels.SheetVM

@{
    ViewData["Title"] = "Details";
}

<h2>Stücke - Details</h2>


<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrchestraName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrchestraName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.InventoryNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.InventoryNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Title)
        </dd>
        @*Composer is not used, Arrangeur as combi-field for Arrangeur / Composer*@
        @*<dt>
            @Html.DisplayNameFor(model => model.SheetModel.Composer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Composer)
        </dd>*@
        @*Composer is not used, Arrangeur as combi-field for Arrangeur / Composer*@
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.Arrangeur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Arrangeur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.Difficulty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Difficulty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.LendTo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.LendTo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SheetModel.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SheetModel.Notes)
        </dd>
    </dl>
</div>

<div>
    @if (Model.WriteAccess)
    {
        <div class="edit-link">
            <a asp-action="Edit" asp-route-id="@Model.SheetModel.Id">Edit</a>
        </div>
    }

    <div class="back-to-list">
        <a asp-action="IndexSheets">Zurück zur Liste</a>
    </div>

</div>

