﻿@model NotenWeb.ViewModels.SheetVM

@{
    ViewData["Title"] = "Bearbeiten";
}

<h2>Stücke - Bearbeiten</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="SheetModel.Id" />

        @*This was text-field for OrchestraName*@
        @*<div class="form-group">
            <label asp-for="OrchestraName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OrchestraName" class="form-control" />
                <span asp-validation-for="OrchestraName" class="text-danger"></span>
            </div>
        </div>*@

        @*Note: SelectLists compare for strings.
        Options Archive (string-value 0) and All (string value -1) are added in view.*@

        @*SlectList for OrchestraName. Labels are used, string-comares*@

        <div class="form-group">
            <label asp-for="OrchestraName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="OrchestraName" asp-items="Model.SelListOrchestras">
                    <option value="0">Archiv</option>
                </select>
                <span asp-validation-for="OrchestraName" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="SheetModel.InventoryNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.InventoryNumber" class="form-control" />
                <span asp-validation-for="SheetModel.InventoryNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SheetModel.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.Title" class="form-control" />
                <span asp-validation-for="SheetModel.Title" class="text-danger"></span>
            </div>
        </div>

        @*Composer is not used, Arrangeur as combi-field for Arrangeur / Composer*@
        @*<div class="form-group">
            <label asp-for="SheetModel.Composer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.Composer" class="form-control" />
                <span asp-validation-for="SheetModel.Composer" class="text-danger"></span>
            </div>
        </div>*@

        @*Composer is not used, Arrangeur as combi-field for Arrangeur / Composer*@
        <div class="form-group">
            <label asp-for="SheetModel.Arrangeur" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.Arrangeur" class="form-control" />
                <span asp-validation-for="SheetModel.Arrangeur" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SheetModel.Difficulty" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.Difficulty" class="form-control" />
                <span asp-validation-for="SheetModel.Difficulty" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SheetModel.Score" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.Score" class="form-control" />
                <span asp-validation-for="SheetModel.Score" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Duration" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SheetModel.LendTo" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.LendTo" class="form-control" />
                <span asp-validation-for="SheetModel.LendTo" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SheetModel.Notes" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SheetModel.Notes" class="form-control" />
                <span asp-validation-for="SheetModel.Notes" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div class="back-to-list">
    <a asp-action="IndexSheets">Zurück zur Liste</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@


