﻿@model NotenWeb.ViewModels.SheetsOrchestrasVM

@{
    ViewData["Title"] = "Stücke";
}

<h2>Stücke</h2>

@*ADD*@
@if (Model.WriteAccess)
{
    <div class="create-link">
        <a asp-action="Create">Hinzufügen</a>
    </div>
}

@*SEARCH*@

@*SearchString and SelOrchestra are submitted by asp-for and method = get. This makes
        - binding to VM (asp-for)
        - url-parameter (get)
          without asp-for and just "name"-tag the url-parameter stays, but the searchstring is not retained at page*@

        @*Note: SelectLists compare for strings. 
        Options Archive (string-value 0) and All (string value -1) are added in view.*@

<form asp-controller="Sheets" asp-action="IndexSheets" method="get">
    <div class="search-block">
        <select asp-for="SelOrchestra" asp-items="Model.SelListOrchestras">
            <option value="-1">Alle</option>
            <option value="0">Archiv</option>
        </select>


        @Html.DisplayNameFor(Model => Model.SheetVMs[0].SheetModel.Title): <input type="text" asp-for="SearchString">
        <input type="submit" value="Suchen" />
    </div>
</form>

@*TABLE*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.SheetVMs[0].OrchestraName)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.SheetVMs[0].SheetModel.InventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.SheetVMs[0].SheetModel.Title)
            </th>
            @*Composer is not used, Arrangeur as combi-field for Arrangeur / Composer*@
            @*<th>
                @Html.DisplayNameFor(Model => Model.SheetVMs[0].SheetModel.Composer)
            </th>*@
            <th>
                @Html.DisplayNameFor(Model => Model.SheetVMs[0].SheetModel.Arrangeur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SheetVMs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrchestraName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SheetModel.InventoryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SheetModel.Title)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SheetModel.Composer)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.SheetModel.Arrangeur)
                </td>
                <td>
                    @if (Model.WriteAccess)
                    {
                        <a asp-controller="Sheets" asp-action="Edit" asp-route-id="@item.SheetModel.Id">Edit</a><text> | </text>
                    }

                    <a asp-controller="Sheets" asp-action="Details" asp-route-id="@item.SheetModel.Id">Details</a>

                    @if (Model.WriteAccess)
                    {
                        <text> | </text><a asp-controller="Sheets" asp-action="Delete" asp-route-id="@item.SheetModel.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
