﻿@*Layout-File for intern Admin pages*@


@using Microsoft.AspNetCore.Identity
@using NotenWeb.Models
@inject UserManager<AppUsers> UserManager

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] / Admin - NotenWeb</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="~/Intern/css/normalize.css">
    <link rel="stylesheet" href="~/Intern/css/font-awesome.css">
    <link rel="stylesheet" href="~/Intern/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Intern/css/templatemo-style.css">
</head>



<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    @*This is only visible when width < 992, in Bootstrap.min.css*@

    <div class="responsive-header visible-xs visible-sm">
        <div class="container" id="nav-menue-auf">
            @*nav-menue-auf ist das ziel für target (toggle-menu ohne js)*@
            <div class="row">
                <div class="col-md-12">
                    <div class="top-section">
                        <div class="profile-image">
                            <img src="~/Resources/logo.png" alt="SJK-Logo">
                        </div>
                        <div class="profile-content">
                            <h3 class="profile-title">@UserManager.GetUserAsync(User).Result.UserName </h3>
                            <p class="profile-description">Admin Funktionen</p>
                            <form asp-controller="Account" asp-action="DoLogoutAsync">
                                <fieldset class="logout_button">
                                    <input type="submit" class="button" value="Abmelden">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            @*make 2 toggle-menu buttons*@
            <a href="#nav-menue-zu" class="toggle-menu toggle-menu-zu"><i class="fa fa-bars"></i></a> @*ZU*@
            <a href="#nav-menue-auf" class="toggle-menu toggle-menu-auf"><i class="fa fa-bars"></i></a> @*AUF*@

            <div class="main-navigation responsive-menu">
                <ul class="navigation">
                    <li><a asp-controller="Sheets" asp-action="IndexSheets">Stücke</a></li>
                    <li><a asp-controller="Orchestras" asp-action="IndexOrchestras">Orchester</a></li>
                    <li><a asp-controller="Rounds" asp-action="IndexRounds">Runden</a></li>
                    <li><a asp-controller="Users" asp-action="IndexUsers">Benutzer</a></li>
                </ul>
            </div>
        </div>
    </div>



    <!-- SIDEBAR -->
    @*This is only visible when width > 992, in Bootstrap.min.css*@
    <div class="sidebar-menu hidden-xs hidden-sm">
        <div class="top-section">
            <div class="profile-image">
                <img src="~/Resources/logo.png" alt="SJK-Logo">
            </div>
            <h3 class="profile-title">@UserManager.GetUserAsync(User).Result.UserName </h3>
            <p class="profile-description">Admin Funktionen</p>
            <form asp-controller="Account" asp-action="DoLogoutAsync">
                <fieldset class="logout_button">
                    <input type="submit" class="button" value="Abmelden">
                </fieldset>
            </form>
        </div> <!-- top-section -->

        <div class="main-navigation">
            <ul class="navigation">
                <li><a asp-controller="Sheets" asp-action="IndexSheets">Stücke</a></li>
                <li><a asp-controller="Orchestras" asp-action="IndexOrchestras">Orchester</a></li>
                <li><a asp-controller="Rounds" asp-action="IndexRounds">Runden</a></li>
                <li><a asp-controller="Users" asp-action="IndexUsers">Benutzer</a></li>
            </ul>
        </div> <!-- .main-navigation -->

    </div> <!-- .sidebar-menu -->
    @*<div class="banner-bg" id="top">
            <div class="banner-overlay"></div>
            <div class="welcome-text">
                <h2>Simple Design | Personal Portfolio</h2>
                <h5>This is a mobile friendly layout with Bootstrap v3.3.1 framework. Maecenas eu ante at nunc posuere fringilla sit amet non dolor. Proin condimentum fermentum nunc.</h5>
            </div>
        </div>*@

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="fluid-container">

            <div class="content-wrapper">


                @RenderBody()



                <hr>

                <div class="row" id="footer">
                    <div class="col-md-12 text-center">
                        <p class="copyright-text">© DistlerFuchs / V 1.0.00</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    @*This renders scripts, which are called in views*@
    @RenderSection("Scripts", required: false)

</body>
</html>