﻿@*Layout-File for extern pages (Login, Error)...*@

<!DOCTYPE html>
<html lang="de-de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Extern/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Extern/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Extern/css/main.css">
    <!--===============================================================================================-->

    <title>@ViewData["Title"] - NotenWeb</title>



</head>

<body>
    <header>
        
        <div id="header_box">
            
            <div id="title_line">
                <h1 class="login100-form-title p-b-33">NotenWeb der SJK</h1>
            </div>
            <div id="logo_box">
                <img id="logo_bild" src="~/Resources/logo.png" alt="Logo für SJK" title="SJK-Logo" />
            </div>

        </div>
    
    </header>

    @RenderBody()


    <footer>
        <p>© DistlerFuchs / V 1.0.00</p>
    </footer>

</body>
</html>
