﻿@model NotenWeb.Models.Orchestra

@{
    ViewData["Title"] = "Löschen";
}

<h2>Orchester - Löschen</h2>

<h3>Bist du sicher, dass du dieses Orchester löschen willst?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

    </dl>


    <form asp-action="Delete">
        <div class="form-actions no-color delete-button">
            <input type="submit" value="Löschen" class="btn btn-default" />
        </div>
    </form>

    <div class="back-to-list">
        <a asp-action="IndexOrchestras">Zurück zur Liste</a>
    </div>
</div>