﻿@model NotenWeb.Models.Orchestra

@{
    ViewData["Title"] = "Bearbeiten";
}

<h2>Orchester - Bearbeiten</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="OrderNr" />

        <div class="form-group">
            <label asp-for="Label" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Label" class="form-control" />
                <span asp-validation-for="Label" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UsesInventoryNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsesInventoryNumberX" class="form-control" type="checkbox" />
                <span asp-validation-for="UsesInventoryNumberX" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="UsesAlphabetically" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UsesAlphabeticallyX" class="form-control" type="checkbox" />
                <span asp-validation-for="UsesAlphabeticallyX" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div class="back-to-list">
    <a asp-action="IndexOrchestras">Zurück zur Liste</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@


