﻿@model IEnumerable<NotenWeb.Models.Orchestra>

@{
    ViewData["Title"] = "Orchester";
}

<h2>Orchester</h2>

@*ADD*@
@if (User.IsInRole("Admins") | User.IsInRole("PowerUser"))
{
    <div class="create-link">
        <a asp-action="Create">Hinzufügen</a>
    </div>
}


@*TABLE*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.UsesInventoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.UsesAlphabetically)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @Html.CheckBoxFor(model => item.UsesInventoryNumberX, new { onclick = "return false" })
                </td>
                <td>
                    @Html.CheckBoxFor(model => item.UsesAlphabeticallyX, new { onclick = "return false" })
                </td>

                <td>
                    @if (User.IsInRole("Admins") | User.IsInRole("PowerUser"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
