﻿@model NotenWeb.ViewModels.UserVM

@{
    ViewData["Title"] = "Benutzer erstellen";
}

<h2>Benutzer - Erstellen</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="UserModel.UserName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UserModel.UserName" class="form-control" />
                <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsAdmin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsAdmin" class="form-control" type="checkbox"/>
                <span asp-validation-for="IsAdmin" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsPU" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsPU" class="form-control" type="checkbox"/>
                <span asp-validation-for="IsPU" class="text-danger"></span>
            </div>
        </div>
		
		<div class="form-group">
            <label asp-for="IsRO" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IsRO" class="form-control" type="checkbox"/>
                <span asp-validation-for="IsRO" class="text-danger"></span>
            </div>
        </div>

		<div class="form-group">
            <label asp-for="password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="password" class="form-control" type="password" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
        </div>
        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Erstellen" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div class="back-to-list">
    <a asp-action="IndexUsers">Zurück zur Liste</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

