﻿@model IEnumerable<NotenWeb.ViewModels.UserVM>

@{
    ViewData["Title"] = "Benutzer";
}

<h2>Benutzer der WebApp</h2>

@*ADD*@

<div class="create-link">
    <a asp-action="Create">Hinzufügen</a>
</div>


@*CREATE ROLES - INITIAL*@
<p class="create-link">Zum initialen Erstellen der Rollen (Admin, PowerUser und ReadOnlyUser) hier klicken.</p>
<form asp-action="CreateRoles">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Rollen erstellen" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



@*TABLE*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserModel.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.IsPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRO)
            </th>
			<th>
                @Html.DisplayNameFor(model => model.UserModel.Access​Failed​Count)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserModel.LockoutEnd)
            </th>
			
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserModel.UserName)
                </td>
                <td>
                    @Html.CheckBoxFor(model => item.IsAdmin, new { onclick = "return false" })
                </td>
                <td>
                    @Html.CheckBoxFor(model => item.IsPU, new { onclick = "return false" })
                </td>
				<td>
                    @Html.CheckBoxFor(model => item.IsRO, new { onclick = "return false" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserModel.Access​Failed​Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserModel.LockoutEnd)
                </td>

                <td>
                    <a asp-action="Delete" asp-route-id="@item.UserModel.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
